// ----------------------------------------------------------------------------
// Noms des couleurs : https://www.color-blindness.com/color-name-hue/
// ----------------------------------------------------------------------------
    // $color-primary     : #93671f;
    // $color-primary     : #7a670a;

    $color-primary     : hsl(36, 47%, 57%);
    $color-white       : hsl(0, 0, 100%);
    $color-white-smoke : hsl(0, 0%, 93%);
    $color-mortar-grey : hsl(0, 0%, 35%);
    $color-acadia      : hsl(38, 8%, 19%);
    $color-wild-sand   : hsl(48, 19%, 95%);
    $color-Charcoal    : hsl(0, 1%, 26%);
    $black             : hsl(0, 0, 0);


// ----------------------------------------------------------------------------
// Noms de couleurs spécifiques aux éléments( nom du sélecteur + la propriété)
// soit color ou bg-color (background-color).
// ----------------------------------------------------------------------------
    // Partiel Typography:
        // Font families:
        $font-family-base   :  'Raleway', sans-serif;
        $font-family-titles : 'Dancing Script', cursive; 
        // Line heights:
        $line-height-base               : 1.5; 
        // letter-spacing:
        $letter-spacing-base: 0.12rem;


    // Partiel base:
        $body-bg-color: $color-wild-sand;
        $body-color: $color-mortar-grey;

    // Partiel Modal:
        $modal-overlay-bg-color: rgba(68, 67, 67, 0.5);
        $modal-bg-color: $color-wild-sand;
       
        

    //  Partiel parallax:
         $parallax-overlay-color : $color-acadia;
         $parallax-title-color   : $color-white;


    // Partiel mixins:
        // bouton 
            $default-btn-color              : $color-acadia;
            $default-btn-hover-color        : $color-acadia;

        // border
            $default-border-color: $color-primary;

        //social icons
            $social-icon-color: $color-primary;


            
    // Partiel header:
        $header-bg-color     : $color-wild-sand;
        

    // Patiel navigation:
        $nav-link-color         : $color-acadia;
        $nav-wrapper-link-after : $color-primary;

    
    // Partiel form:
        $form-field-border-bottom-color : lighten($color-mortar-grey, 40%);
        $form-field-bg-color            : $color-white;
 

    // Partiel footer:
        $footer-bg-color            : $black;
        $footer-color               : $color-white;
        $footer-title-color         : $color-primary;
        $footer-link-bg-color       : $color-mortar-grey;
        $footer-social-icon-color   : $color-acadia;
        $footer-link-hover-bg-color : $color-primary;
    

    // partiel home:
        // Section hero
            $hero-overlay                : rgba(12, 11, 10, 0.5);
            $hero-center-color           : $color-white;

        // Section about
            $line-height-about-header-title : 1;
            $about-item-bg-color            : $color-white;

        //  Section menu
            $menu-price                      : $color-primary;
            $menu-text                       : $color-acadia;
            $menu-js-active-filter-btn-color : $color-acadia;

        // Section chefs
            $chefs-item                      : $color-white-smoke;
            $chefs-info                      : $color-white;
            $chefs-social-icons-bg-color     : rgba($color-white, 0.85);
            $chefs-info-name-color           : $color-primary;
            $chefs-underline-bg-color        : $color-primary;
            $chefs-social-icon-color         : $color-acadia;
            $chefs-social-icon-hover-color   : $color-primary;
            $line-height-chefs-info         : $line-height-base + 0.5;


        // Section contact
            $contact-link: $color-primary;

    


    