/*--------------------------------------------------------------*\
  #Modal
\*--------------------------------------------------------------*/
.animation-modal{
  -webkit-animation: slide-elliptic 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-elliptic 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-elliptic {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-elliptic {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}


/*--------------------------------------------------------------*\
  #Configuration d'accessibilité

  La requêtes média CSS prefers-reduced-motion détecte si l'utilisateur a demandé au
  système de minimiser la quantité d'animation ou de mouvement.
  Les lecteurs souffrant de troubles du mouvement vestibulaire peuvent souhaiter activer
  la fonction de réduction du mouvement sur leur appareil avant de visionner l'animation.
\*--------------------------------------------------------------*/
@media (prefers-reduced-motion: reduce) {
  //Modal
  .animation-modal {
    animation: none;
  }
// Animate on scroll (Aos)
  [data-aos] {
    opacity: 1 !important;
    transform: translate(0) scale(1) !important;
  }
}