/**
 * Le font-size par défaut(mobile et destop) est 16px c'est le meme que celui  
 * des navigateurs donc les paragraphes sont de 16px
 */

body{
    font-family: $font-family-base;
    letter-spacing: $letter-spacing-base;
    line-height: $line-height-base;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $font-family-titles;
    text-transform: capitalize;
}

// mobile et tablet 
h1{
  font-size: clamp(2.4rem, 7vw, 3rem);
}
h2{
  font-size: clamp(2.2rem, 7vw, 2.8rem);
}
h3{
  font-size: clamp(1.8rem, 7vw, 2rem);
}
h4{
  font-size: clamp(1.2rem, 7vw, 1.3rem);
}
h5{
  font-size: clamp(0.5rem, 7vw, 0.9rem);
}
h6{
  font-size: clamp(0.4rem, 7vw, 0.8rem);
}

