/*--------------------------------------------------------------*\
  #hero
\*--------------------------------------------------------------*/  
.hero{
    background-image: url("../images/hero-480x900.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
    &__overlay{
        background-color: $hero-overlay; 
        height: inherit;
    }
    &__center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        color: $hero-center-color;      
        @include layout-container ($paddings-top-bottom: 3rem, $paddings-left-right: 2rem);
    }
    &__title{           
        font-family: $font-family-base;
        font-weight: 700;
        line-height: 1.2;      
    }
    &__text{
        font-size: 1.75rem;
        margin-top: 0.625rem;
        font-family: $font-family-titles;
        font-weight: 500;
    }  
    &__btn{      
        @include btn;      
        width: 10.5rem;
        margin-top: 1.875rem;       
    }
    // Media queries images hero (images adaptatives)
    @include breakpoints-img-hero-and-parallax(small){
        background-image: url('../images/hero-960x900.jpg');       
    }
    @include breakpoints-img-hero-and-parallax(medium){
        background-image: url('../images/hero-1440x900.jpg');       
    }
    @include breakpoints-img-hero-and-parallax(large){
        background-image: url('../images/hero-1920x900.jpg');             
    }
    // Media queries
    @include breakpoints(tablet){
        height: 80vh; 
    }
  
}


/*--------------------------------------------------------------*\
  #about
\*--------------------------------------------------------------*/  
.about{ 
    &__center{
        @include layout-container;
        padding-top: 3rem;
    }
    &__header{
        margin-bottom: 4rem;
        text-align: center;
    }
    &__header-title{
        font-family: $font-family-base;
        padding-bottom: 0.625rem;
    }
    &__item{
        background-color: $about-item-bg-color;
        @include borderRadius;
        margin: auto;
        margin-bottom: 1.875rem;  
        @include border;
        max-width: 23rem;         
    }
    &__title{
        padding: 0.625rem;
        text-align: center;   
        font-weight: 600;
        color: $color-primary;
        font-size: 1.5rem;
    }
    &__img{
        @include borderRadius($bottomright: 0, $bottomleft: 0);
    }
    &__text{  
        padding: 0.625rem;     
    } 

    // Media queries 
    @include breakpoints(desktop){
        &__center{
            display: flex;  
            justify-content: space-between;
            flex-wrap: wrap;
        }    
        &__header{
            display: flex;
            justify-content: space-between;
            text-align: initial;
        }
        &__header-title{
            width: 31.707%;
            text-align: end;
           line-height: $line-height-about-header-title;
        }
        &__header-text{
            width: 65.853%;
            border-left: 5px solid $color-primary;
            padding-left: 0.625rem;

        }
        &__item{
            flex: 0 1 calc(100%/3 - 2rem);  
            max-width: initial; 
            margin: initial;     
            margin-bottom: 1.875rem;  
        } 
    }
}


/*--------------------------------------------------------------*\
  #Menu
\*--------------------------------------------------------------*/  
.menu{
    &__center{
        @include layout-container;
    }
    &__btn-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1.875rem auto;
        text-align: center;   
    }
    &__filter-btn{
        @include btn($color: $color-primary, $background: transparent); 
        max-width: 10rem;
        overflow: hidden;     
        margin: 0.5rem;
        white-space: nowrap;
        padding: 12px 14px;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;   
        justify-content: space-between;
    }
    &__item{
        max-width: 21rem;   
        margin: auto;
        margin-bottom: 3.125rem;
        box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 50%);
        padding: 8px;
        @include borderRadius;
    }
    &__img{
        @include border(4px);
        @include borderRadius;
        object-fit: cover;
        height: 12.5rem;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__header-title{
        font-weight: 600;
        font-size: 1.2rem;
    }
    &__price{
        color: $menu-price;
        font-weight: bold;
        white-space: nowrap;
        margin-left: 0.125rem;
            margin-bottom: -6px;
    }
    &__text{
        border-top: 1px dotted $menu-text;
        padding-top: 1rem;    
    }
    &__js-active-filter-btn{
        background-color: $color-primary;
        color: $menu-js-active-filter-btn-color;
    }
    
    // Media queries 
    @include breakpoints(tablet){
        &__item{
            display: flex;
            max-width: 40rem;
            box-shadow: none;
            padding: initial;
        }
        &__img{        
            max-width: 12rem;
            height: 9.063rem;
            margin-right: 1.25rem;
        } 
    
    }      
    @include breakpoints(desktop){
        &__item{
            padding: 0  0.313rem;
            width: 34.8rem;    
            margin: initial;
            margin-bottom: 3.125rem;
        }  
        &__header-title{
            white-space: nowrap;
            font-size: 1.3rem;
        }
    }
}


/*--------------------------------------------------------------*\
  #chefs
\*--------------------------------------------------------------*/  
/**
 * 1. centrage horizontal
 */
.chefs{
    &__parallax{    
        background-image:  url('../images/parallax/paralax-chef-480x1080.jpg');
    }
    &__center{
        @include layout-container;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__text{
        text-align: center;
        margin: 0 1rem 5rem 1rem;
    }
    &__item{
        max-width: 21rem;         
        margin: auto;
        margin-bottom: 2rem;
        box-shadow: 0px 2px 15px $chefs-item;
        @include border;
        @include borderRadius;
    }  
    &__container-img{
        overflow: hidden;
        height: 13rem;   
        background-color: lighten($color:$color-primary, $amount:20%);
        @include borderRadius($bottomright: 0, $bottomleft: 0);

    }
    &__info{
        height: 13rem;     
        background-color: $chefs-info;
        text-align: center;    
        font-size: 0.813rem;
        line-height: $line-height-chefs-info;
        display: table-cell; /* [1] */
        vertical-align: middle; /* [1] */
        padding: 1rem;
        @include borderRadius($topleft: 0, $topright: 0);     
    }
    &__social-icons{
        @include socialIcons; 
        background-color: $chefs-social-icons-bg-color;
        margin: auto;
        padding: 0 22px;
    }
    &__social-icon{
       @include socialIcon;
    }   
    &__info-name{
        color: $chefs-info-name-color;
        font-weight: 700;
        font-size: 1.2rem;
    }
    &__info-job{
        font-weight: 600;
    }
    &__underline{
        width: 3.125rem;
        height: 0.063rem;
        background-color: $chefs-underline-bg-color;
        margin: 0.625rem auto;
    }
    &__parallax{
    // Media queries
        @include breakpoints-img-hero-and-parallax(small){
            background-image: url('../images/parallax/paralax-chef-960x1080.jpg');       
        }
        @include breakpoints-img-hero-and-parallax(medium){
            background-image: url('../images/parallax/paralax-chef-1440x1080.jpg');       
        }
        @include breakpoints-img-hero-and-parallax(large){
            background-image: url('../images/parallax/paralax-chef-1920x1080.jpg');             
        }
    }

    // Media queries
    @include breakpoints(tablet){
        &__item{            
        margin: initial;
        margin-bottom: 2rem;
        max-width: initial;
        flex: 0 1 calc(100%/2 - 2rem);          
         }
        &__container-img, 
        &__info{       
            height: 16.5rem;        
         }   
    }
    @include breakpoints(desktop){
        &__item{
            flex: 0 1 calc(100%/4 - 2rem);            
            &:hover .chefs__social-icons{
             opacity: 1;
            }
            
         }
        
         &__container-img{
             height: 11.625rem;       
         }
         &__info{       
             position: relative;      
         }
         &__social-icons{       
             position: absolute;
             top: -2.5rem;
             left: 0;
             opacity: 0;
             min-width: 100%;
         }
         &__social-icon{
             color: $chefs-social-icon-color;
             &:hover{
                 color: $chefs-social-icon-hover-color;
             }             
         } 
         &__link-js:focus .chefs__social-icon{            
            color: $chefs-social-icon-hover-color;
            transform: scale(1.4);
         }
         &__info-name{
            font-size: 1.3rem;
        }
    }    
}


/*--------------------------------------------------------------*\
  #contact
\*--------------------------------------------------------------*/  
.contact{
    &__center{
        @include layout-container;
    }
    &__block-icons{
        margin-top: 3rem;
    } 
    &__address{
        display: flex;
        align-items: center;
        margin-bottom: 1.113rem;
    }
    &__icon-container{      
        min-width: 3.375rem;
        min-height: 3.375rem;
        border-radius: 50%;
        background-color: $color-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
    }
    &__icon{
        width: 1.25rem;
        height: 1.25rem;
    }
    &__title-address{
        font-weight: 700;
        color: $color-primary;
        font-family: $font-family-titles;
        font-size: 1.2rem;
    }
    &__form-field{
        margin: 0.625rem 0;
    }
    &__link{   
        color: $contact-link;
    }
    &__error-message{
        margin-top: -0.25rem; 
        margin-bottom: 0.25rem;
    }

    // Media queries
    @include breakpoints(tablet){
        &__form-input{
            display: flex;
            justify-content: space-between;
        }
        &__form-field{
            flex: 0 1 calc(50% - 1rem);
        }
    }
    @include breakpoints(desktop){
        &__center{
            display: flex;
            justify-content: space-between;
        } 
        &__block-icons{
            margin-top: 6.875rem;
        } 
        &__form{
            flex: 0 1 calc(60% - 1.5rem);
        }    
        &__block-icons{
            flex: 0 1 calc(40% - 1.5rem);
        }       
    }   
}


/*--------------------------------------------------------------*\
  #map
\*--------------------------------------------------------------*/  
.map{
    &__title{
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 700;
        color: $color-primary;
    } 
    &__responsive {
        overflow: hidden;
        padding-bottom: 50%;
        position: relative;
        height: 0;
    }       
    &__responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position:absolute;
    }
    
    // Media queries
    @include breakpoints(tablet){
        &__responsive {
            padding-bottom: 30%;              
        }
    }
    @include breakpoints(desktop){
        &__responsive {
            padding-bottom: 20%;              
        }
    }
}








