.parallax{
    background-image: url('../images/parallax/paralax-default-480x1080.jpg');
    height: 12.5rem;         
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    &__overlay{
        height: 12.5rem;
        background-color: rgba($parallax-overlay-color, 0.5);      
    }
    &__title{
        @include layout-container($paddings-top-bottom: 3rem);
        color:  $parallax-title-color; 
    }
// Media queries
    @include breakpoints-img-hero-and-parallax(small){
        background-image: url('../images/parallax/paralax-default-960x1080.jpg');       
    }
    @include breakpoints-img-hero-and-parallax(medium){
        background-image: url('../images/parallax/paralax-default-1440x1080.jpg');       
    }
    @include breakpoints-img-hero-and-parallax(large){
        background-image: url('../images/parallax/paralax-default-1920x1080.jpg');             
    }
    
    @include breakpoints(tablet){
        &__title{
            @include layout-container;
        }
    }
  
}

