.header{  
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: $header-bg-color;
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 50%);
    &__skip-nav{
    // Contenu invisible réservé au lecteur d'écran et utilisateur de clavier
    position: absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    margin-left: 5px;
    background-color: $color-primary;
    color: $black;
        &:focus{
        position: static;
        width:auto;
        height:auto;
        }
    }
    &__center{
        @include layout-container ($paddings-top-bottom: 0);
    }
    &__head{
        display: flex;
        justify-content: space-between;
        align-items: center;      
        height: 4.813rem;
    }
    &__logo{
        @include logo;
    }
    &__btn{
        @include btn;  
        display: none;
      }
    &__buttons-toggle{
        background: transparent;
        border: 0;
        cursor: pointer;    
    }
    &__button-toggle{
        width: 1.5rem;
        height: 1.5rem; 
    }
    &__button-close{
        display: none;
    }
    &__js-show-nav .header__button-display{
        display: none;
    }
    &__js-show-nav .header__button-close{
        display: block;
    }

    // Media queries
    @include breakpoints(desktop){        
        &__center{
            display: flex;
            align-items: center;      
        }
        &__btn{
            display: inline-block;      
          }
        &__buttons-toggle{
           display: none;             
        }
 
    }
}

